@font-face {
    font-family: 'KNUTRUTHTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KNUTRUTHTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.header {
    background-image: url("./Orca-Main.png");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .title {
    text-align: center;
}

.header .title button {
    background: transparent;
    margin-top: 50vh;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    transition: 0.5s ease;
}

.header .title button:hover {
    transition: 0.5s ease;
    border: 2px solid black;
    background: white;
    color: black;
}

#sperio button {
    background: transparent;
    color: white;
    border: 2px solid white;
    margin-top: 50px;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    transition: 0.5s ease;
}

#sperio button:hover {
    transition: 0.5s ease;
    border: 2px solid black;
    background: white;
    color: black;
}

.card button {
    background: transparent;
    color: black;
    border: 2px solid black;
    margin-top: 3px;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    transition: 0.5s ease;
}

.card button:hover {
    transition: 0.5s ease;
    border: 2px solid white;
    background: black;
    color: white;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

footer ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
}

@media (min-width: 500px) {
    footer ul {
        grid-auto-flow: column;
    }
}

footer a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

footer a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

footer li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

footer li:hover~li p {
    animation: wave-animation 0.3s infinite;
}

/* below is just for demo styling */

footer div {
    display: flex;
    height: 20vh;
    width: 100%;
    background-color: #002a38;
    line-height: 1.3;
    font-family: Menlo, monospace;
}

@keyframes wave-animation {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-15deg);
    }
}